// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as SandboxApi from "../../../index.js";

export declare namespace KycClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KycClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<KycClient.Options>;

    constructor(options: KycClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Verifies Bank Account through Penny Drop, PennyLess and Hybrid.
     *
     * @param {SandboxApi.VerifyBankAccountRequest} request
     * @param {KycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.kyc.verifyBankAccount({
     *         entityId: "78bea7b4-1caf-4528-96e4-ec7f9f43f0db",
     *         programId: "310",
     *         requestId: "{{requestId}}",
     *         txnType: "ANY",
     *         custIfsc: "SBIN0061411",
     *         custAcctNo: "42090969996"
     *     })
     */
    public verifyBankAccount(
        request: SandboxApi.VerifyBankAccountRequest,
        requestOptions?: KycClient.RequestOptions,
    ): core.HttpResponsePromise<SandboxApi.VerifyBankAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifyBankAccount(request, requestOptions));
    }

    private async __verifyBankAccount(
        request: SandboxApi.VerifyBankAccountRequest,
        requestOptions?: KycClient.RequestOptions,
    ): Promise<core.WithRawResponse<SandboxApi.VerifyBankAccountResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ apikey: requestOptions?.apikey ?? this._options?.apikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/bank-account-validation/bank-validateacct",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SandboxApi.VerifyBankAccountResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SandboxApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/bank-account-validation/bank-validateacct",
        );
    }
}
